* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.row {
  margin: 0;border-radius: 10px;
  overflow: hidden;
}
h1, h2 {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

.card-container {
  max-width: 58rem;
  padding: 1.2rem;
}

.sedans-container {
  background-color: hsl(31, 77%, 52%);
}

.suv-container {
  background-color: hsl(184, 100%, 22%);
}

.luxury-container {
  background-color: hsl(179, 100%, 13%);
}

/* buttons */
.button {
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}

.sedans-container .button {
  color: hsl(31, 77%, 52%);
}

.suv-container .button {
  color: hsl(184, 100%, 22%);
}

.luxury-container .button {
  color: hsl(179, 100%, 13%);
}

/* hover */
.sedans-container .button:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

.suv-container .button:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

.luxury-container .button:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

.attribution {
  color: #000;
  font-size: 0.6875rem;
  padding: 2.5rem 0 2.5rem 0;
  text-align: center;
}

.attribution a {
  color: hsl(25, 97%, 53%);
  text-decoration: none;
}

.attribution a:hover {
  color: hsl(178, 100%, 50%);
}
